<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Journal | Blog</title>
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/blog.css">
    <link rel="stylesheet" href="../../stylesheets/main/footer.css">
    <link rel="stylesheet" href="../../stylesheets/main/navbar.css">
    <script src="../../scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <% include ../partials/navbar %>
    
    <% for(var i = posts.length - 1; i >= 0; i--){ %>        
        <div class="post">
            <h2><%=posts[i].title %></h2>
            <p class="date"><em><%= posts[i].date %></em></p>
            <p><strong><%= posts[i].location %></strong></p>
            <hr />
            <pre width="20"><%= posts[i].post %></pre>
            <% posts[i].images.forEach(function(url){ %>
                <% if(url !== ""){ %> 
                    <img src="<%=url%>" />
                <% } %>
            <% }) %>
        </div>        
    <% }; %>
        
    <% include ../partials/footer %>

</body>
</html>