<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Journal | Blog</title>
    <link rel="shortcut icon" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/blog.css">
    <link rel="stylesheet" href="../../stylesheets/main/footer.css">
    <script src="../../scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <p class="logo">
            <strong>JourneyJournal</strong>
        </p>
        <div class="menu">
            <a href="/blog">Blog</a>
            <a href="/">Map</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    
    <% for(var i = posts.length - 1; i >= 0; i--){ %>
        <div class="post">
            <h2><%=posts[i].title %></h2>
            <p class="date"><em><%= posts[i].date %></em></p>
            <p><strong><%= posts[i].location %></strong></p>
            <hr />
            <pre width="20"><%= posts[i].post %></pre>
            <% posts[i].images.forEach(function(url){ %>
                <% if(url !== ""){ %> 
                    <img src="<%=url%>" />
                <% } %>
            <% }) %>
        </div>
        
    <% }; %>
        
    <footer>    
        <h4>See our other blogs!</h4>
        <hr>                
        <div class="footer-links">
            <ul>
                <li><a href="#">USA</a></li>
                <li><a href="#">Sri Lanka</a></li>
                <li><a href="#">New Zealand</a></li>
                <li><a href="#">South Africa</a></li>
                <li><a href="#">Hong Kong</a></li>
            </ul>  
            <ul>
                <li><a href="#">Thailand</a></li>
                <li><a href="#">Malaysia</a></li>
                <li><a href="#">Romania</a></li>
                <li><a href="#">Japan</a></li>
                <li><a href="#">Korea</a></li>
            </ul>                
            <ul>
                <li><a href="#">Thailand</a></li>
                <li><a href="#">Malaysia</a></li>
                <li><a href="#">Romania</a></li>
                <li><a href="#">Japan</a></li>
                <li><a href="#">Korea</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>